{% extends "main_template.html" %} {% block content %} {% include "navbar.html"
%}
<div class="hr py-3">
  <div class="container">
    <h1 class="text-center">HR chart current</h1>
    <canvas id="myChart"></canvas>
  </div>
</div>
<div class="container">
  <div class="card">
    <div class="card-header">Measurement results</div>
    <div class="card-body">
      <div class="d-flex">
        <h5 class="card-title">Start time:</h5>
        <p class="ms-2" id="time-start"></p>
      </div>
      <div class="d-flex">
        <h5 class="card-title">End time:</h5>
        <p class="ms-2" id="time-end"></p>
      </div>
      <div class="d-flex">
        <h5 class="card-title">Result:</h5>
        <p class="ms-2" id="result"></p>
      </div>
    </div>
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15306.58730217733!2d107.6108138793457!3d16.442753696830984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1683048164977!5m2!1svi!2s"
    width="100%"
    height="600px"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
{% include "footer.html" %} {% endblock %} {% block link_js %}
<script src="{{ url_for('static', filename='js/chart_hr.js') }}"></script>
{% endblock %}
