{% extends "main_template.html" %}
{% block link_css %}
<!-- <link rel="stylesheet" href="url_for('static', filename='css/text_css.css')"> -->
{% endblock %}
{% block content %}
{% include "navbar.html" %}
<div class="container py-3">
    <div class="card">
      <div class="card-header">
        Measurement results
      </div>
      <div class="card-body">
        <div class="d-flex">
            <h5 class="d-flex align-items-center text-center text-reset-margin pe-2">Date:</h2>
            <input type="date" class="form-control w-25" id="time-selected" value="{{date}}">
        </div>

      </div>
    </div>
    {% if labels_img %}
    <img class="d-block" style="margin: 0 auto;" src="data:image/png;base64,{{ labels_img }}" alt="Biểu đồ Stress">
    {% endif %}
    <br>
    {% if hr_means_img %}
    <img class="d-block" style="margin: 0 auto;" src="data:image/png;base64,{{ hr_means_img }}" alt="Biểu đồ Stress">
    {% endif %}
    <!-- {% if time_labels_img %}
    <img class="d-block" style="margin: 0 auto;" src="data:image/png;base64,{{ time_labels_img }}" alt="Biểu đồ Stress">
    {% endif %} -->
    
    <br>
  </div>
{% include "footer.html" %}
{% endblock %}
{% block link_js %}
<script src="{{ url_for('static', filename='js/statistic_analysis.js') }}"></script>
{% endblock %}   